@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Exquisite Turquoise Giraffe */
@layer base {
  .exquisite-turquoise-giraffe {
    --background: 172 62% 99%;
    --foreground: 172 54% 3%;
    --muted: 292 25% 91%;
    --muted-foreground: 292 15% 38%;
    --popover: 172 62% 99%;
    --popover-foreground: 172 54% 3%;
    --card: 172 62% 99%;
    --card-foreground: 172 54% 3%;
    --border: 171.83 66.27% 50%;
    --input: 172 2% 89%;
    --primary: 172 66% 50%;
    --primary-foreground: 172 66% 10%;
    --secondary: 292 66% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 52.35 100% 49.22%;
    --accent-foreground: 52 66% 10%;
    --destructive: 343.02 100% 41.54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 172 66% 50%;
    --chart-1: 172 66% 50%;
    --chart-2: 292 66% 50%;
    --chart-3: 52.35 100% 49.22%;
    --chart-4: 292 66% 53%;
    --chart-5: 172 69% 50%;
    --radius: 0.5rem;
  }

  .exquisite-turquoise-giraffe.dark {
    --background: 172 50% 0%;
    --foreground: 172 12% 97%;
    --muted: 292 25% 9%;
    --muted-foreground: 292 15% 62%;
    --popover: 172 50% 0%;
    --popover-foreground: 172 12% 97%;
    --card: 172 50% 0%;
    --card-foreground: 172 12% 97%;
    --border: 172 2% 12%;
    --input: 172 2% 12%;
    --primary: 172 66% 50%;
    --primary-foreground: 172 66% 10%;
    --secondary: 292 66% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 52.35 100% 49.22%;
    --accent-foreground: 52 66% 10%;
    --destructive: 343.02 100% 41.57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 172 66% 50%;
    --chart-1: 172 66% 50%;
    --chart-2: 292 66% 50%;
    --chart-3: 52.35 100% 49.22%;
    --chart-4: 292 66% 53%;
    --chart-5: 172 69% 50%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.positive {
  color: #2EB88A; /* Green color for positive values */
}

.negative {
  color: #E23670; /* Red color for negative values */
}

/* Table Styles */
.table-container {
  @apply overflow-x-auto;
}

table {
  @apply w-full border-collapse text-sm;
}

thead tr {
  @apply bg-muted border-b border-border;
}

th {
  @apply px-4 py-3 text-left font-medium text-muted-foreground;
}

td {
  @apply px-4 py-2.5 border-b border-border;
}

tr:hover {
  @apply bg-muted;
}

.token-cell {
  @apply font-medium;
}

.address-cell {
  @apply text-muted-foreground text-xs font-mono max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap;
}
